
        body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: pink;
        }

        button {
            background-color: blue;
            width: 80%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        input[type=text],
        input[type=password] {
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.7;
        }


        .container {
            padding: 25px;
            background-color: lightblue;
        }